<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">发现不同寻常的美!</h2>
                <p>我们的应用程序可在任何移动设备上使用！ 立即下载以开始使用!</p>
                <div class="badges">
                    <a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
